.categories-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories-content {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "j j j";
    grid-gap: 15px;
    padding: 30px;
}

.categories-content > div:nth-child(1) {
    grid-area: a;
}
.categories-content > div:nth-child(2) {
    grid-area: b;
}
.categories-content > div:nth-child(3) {
    grid-area: c;
}
.categories-content > div:nth-child(4) {
    grid-area: d;
}
.categories-content > div:nth-child(5) {
    grid-area: e;
}

.categories-content > div:nth-child(6) {
    grid-area: f;
}

.categories-content > div:nth-child(7) {
    grid-area: g;
}

.categories-content > div:nth-child(8) {
    grid-area: h;
}

.categories-content > div:nth-child(9) {
    grid-area: i;
}

.categories-content > div:nth-child(10) {
    grid-area: j;
}
